a{
	color:white;
	font-size:25px;
	font-family:consolas;
	text-decoration:none;
}
.my-font{
	font-size:25px;
	font-family:consolas;
}
.header{
	height:35px;
	background-color:black;
	position:fixed;
	width:100%;
	top:0;
	left:0;
	color:white;
	text-align:center;

}
.left-menu{
	height:100%;
	width:185px;
	top:0;
	left:0;
	position:fixed;
	background-color:black;
	z-index:1;
	padding-top:27px;
}
.login-div{
	border:1px solid black;
	margin:auto;
	width:21%;
	border-radius:10px;
	margin-top:15%;
	padding:25px;
	
	
}
.my-text-field{
	width:200px;
}
.footer{
	height:35px;
	background-color:black;
	bottom:0;
	left:0;
	width:100%;
	position:fixed;
	color:white;
	text-align:center;
	
}
.btn-mine{
	background-color:tomato;
	padding:5px;
	border-radius:5px;
	color:white;
	border:none;
	width:100%;
}
.btn-mine:hover{
	background-color:red;
}
.btn-mine:active{
	background-color:green;
}
.err-msg{
	color:red;
	font-size:20px;
	font-family:cambria;
}
